<div class='hero-unit'>
  <h1>Welcome to Keyhog!</h1>
  <p>Ever get tired of uploading your SSH keys to services like GitHub, Heroku, Launchpad, and others when you setup a new computer? Ever regenerate a key and don't look forward to updating it in all of those places? Or, ever setup a new machine somewhere and need to put your key on that machine for SSH access but don't have access to your usual machine? It's annoying, and that's whywe've built Keyhog. Keyhog <em>isn't</em> another attempt at a PKI. And, Keyhog is more than just a simple place to store your keys. Think of it as single sign-on for SSH keys. Head on over to GitHub, link your Keyhog account, and tell GitHub which keys you'll be using from your Keyhog account--it's as simple as that!</p>
  <p>
  <%= link_to 'Get started!', signup_path, class: 'btn btn-primary btn-large' %>
  </p>
</div>
